<html><head>
        <title>Mailer</title>
        </head>
        <body style="margin: 0;padding: 0;background-color: #f4f4f4;text-align: center">
        <div style=" float: left;text-align: center;margin-top: 30px;width: 100%;">
            <div class="main-contant-area" style="width: 650px;display: inline-block;background-color: #fff;padding: 20px;border-radius: 20px">
                <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody class="ui-droppable">
                           <tr class="ui-draggable">
                              <td  align="center">
                                 <a target="_blank" > <img src="https://www.potafo.in/images/logo.png" alt="" style="margin-top: 40px;margin-bottom: 40px" width="240"> </a> 
                              </td>
                           </tr>
                           <tr class="ui-draggable">
                              <td class="esd-block-text es-p10b esd-frame esd-hover esdev-disable-select esd-block" align="center">
                               
                                 <h2 style="font-family: sans-serif;color: #309c03;">Thank You For Your Order! </h2>
                              </td>
                           </tr>
                           <tr class="ui-draggable">
                              <td align="left" style="font-family: sans-serif;">
                               
                                 <p style="font-size: 16px; color: #777777;padding: 0 50px;text-align: center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium iste ipsa numquam odio dolores, nam.<br></p>
                              </td>
                           </tr>
                        </tbody>
                     </table>



                     <table class="mobile_centered_table" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin-top: 40px;">
                            <tbody>
                               <tr>
                                  <td class="one_half" bgcolor="#fcfcfc" align="right" valign="top" data-color-greybg="background-color" data-color-greyborder="border-color" style="width: 340px; border: 1px solid #d1d9e0;">
                                     <table class="mobile_centered_table" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tbody>
                                           <tr>
                                              <td height="13">
                                              </td>
                                           </tr>
                                           <tr>
                                              <td width="100%">
                                                 <table class="mobile_centered_table" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                       <tr>
                                                          <td width="20">
                                                          </td>
                                                          <td class="light_text" data-editable="" data-color-lightgrey="color" style="font-family: 'Lato', sans-serif; font-size: 15px; color: #5f5f5f;line-height: 21px;">
                                                             <span class="blue_text" data-color-redtext="color" style="font-weight: bold; font-size: 18px; color: #001029;">Delivery Address:</span><br>
                                                             <br>
                                                             Explore It solution<br>
                                                             Weshill, Near Akshaya<br>
                                                             Calicut, Kerala, 673005
                                                          </td>
                                                          <td width="20">
                                                          </td>
                                                       </tr>
                                                    </tbody>
                                                 </table>
                                              </td>
                                           </tr>
                                           <tr>
                                              <td height="15">
                                              </td>
                                           </tr>
                                        </tbody>
                                     </table>
                                  </td>
                                  <td class="nomobile" width="20">
                                  </td>
                                  <td class="one_half" bgcolor="#fcfcfc" align="right" valign="top" style="width: 340px; border: 1px solid #d1d9e0;">
                                     <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tbody>
                                           <tr>
                                              <td height="13">
                                              </td>
                                           </tr>
                                           <tr>
                                              <td width="100%">
                                                 <table class="mobile_centered_table" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                       <tr>
                                                          <td width="20">
                                                          </td>
                                                          <td class="light_text" data-editable="" data-color-lightgrey="color" style="font-family: 'Lato', sans-serif; font-size: 15px; color: #5f5f5f; line-height: 25px;">
                                                            <strong>Order No :</strong> ODR52487565<br>
                                                            <strong>Payment Mod :</strong> COD<br>
                                                            <strong>Order Time :</strong> 19/02/19- 12:30 AM<br>
                                                            <strong>Delivery Time :</strong> 19/02/19- 1:00 AM<br>
                                                            <strong>Restaurant :</strong> Rahmath<br>
                                                          </td>
                                                          <td width="20">
                                                          </td>
                                                       </tr>
                                                    </tbody>
                                                 </table>
                                              </td>
                                           </tr>
                                           <tr>
                                              <td height="15">
                                              </td>
                                           </tr>
                                        </tbody>
                                     </table>
                                  </td>
                               </tr>
                            </tbody>
                         </table>



                     <table cellspacing="0" cellpadding="0" border="0" style="width:100%;margin-top: 30px;">
                            <tbody>
                               <tr>
                                  <td class="content" style="width: 800px;">
                                     <table cellspacing="0" cellpadding="0" border="0" style=" width: 100%;">
                                        <tbody>
                                           <tr>
                                              
                                              <td bgcolor="#001029" class="content_row" align="left" valign="top" data-color-darkbg="background-color" style="width: 700px;" height="10">
                                              </td>
                                              
                                           </tr>
                                        </tbody>
                                     </table>
                                  </td>
                               </tr>
                               <tr>
                                  <td class="content" style="width: 800px;">
                                     <table cellspacing="0" cellpadding="0" border="0" style=" width: 100%;">
                                        <tbody>
                                           <tr>
                                              
                                              <td bgcolor="#001029" class="content_row" data-color-darkbg="background-color" align="left" valign="top" style="width: 700px;">
                                                 <table class="mobile_centered_table" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                       <tr>
                                                          <td width="20" class="nomobile" align="left">
                                                          </td>
                                                          <td data-editable="" class="nomobile" width="250" align="left" style="font-family: 'Lato', sans-serif; font-size: 15px; color: #ffffff; font-weight: bold;">
                                                             <span data-color-whitetext="color" class="white_text">PRODUCT</span>
                                                          </td>
                                                          <td width="20" class="padding" align="left">
                                                          </td>
                                                          
                                                          <td width="20" class="nomobile" align="left">
                                                          </td>
                                                          <td data-editable="" class="nomobile" width="100" align="left" style="font-family: 'Lato', sans-serif; font-size: 15px; color: #ffffff; font-weight: bold;">
                                                             <span data-color-whitetxet="color" class="white_text">PORTION</span>
                                                          </td>
                                                          <td width="30" class="nomobile" align="left">
                                                          </td>
                                                          <td data-editable="" class="nomobile" width="80" align="left" style="font-family: 'Lato', sans-serif; font-size: 15px; color: #ffffff; font-weight: bold;">
                                                             <span class="white_text">QTY</span>
                                                          </td>
                                                          <td width="40" class="padding" align="left">
                                                          </td>
                                                          <td data-editable="" width="50" align="left" style="font-family: 'Lato', sans-serif; font-size: 15px; color: #ffffff; font-weight: bold;">
                                                             <span class="white_text">RATE</span>
                                                          </td>
                                                          <td width="40" class="padding" align="left">
                                                          </td>
                                                          <td data-editable="" width="95" align="left" style="font-family: 'Lato', sans-serif; font-size: 15px; color: #ffffff; font-weight: bold;">
                                                             <span class="white_text">AMOUNT</span>
                                                          </td>
                                                          <td width="10" class="padding" align="left">
                                                          </td>
                                                       </tr>
                                                    </tbody>
                                                 </table>
                                              </td>
                                              
                                           </tr>
                                        </tbody>
                                     </table>
                                  </td>
                               </tr>
                               <tr>
                                  <td class="content" style="width: 800px;">
                                     <table cellspacing="0" cellpadding="0" border="0" style=" width: 100%;">
                                        <tbody>
                                           <tr>
                                              
                                              <td bgcolor="#001029" class="content_row" align="left" valign="top" data-color-darkbg="background-color" data-color-greyborder="border-color" style="width: 700px; border-bottom-color: #d1d9e0; border-bottom-width: 1px; border-bottom-style: solid;" height="10">
                                              </td>
                                              
                                           </tr>
                                        </tbody>
                                     </table>
                                  </td>
                               </tr>
                            </tbody>
                         </table>
        
        <table cellspacing="0" cellpadding="0" border="0" style=" width: 100%;">

           <tbody>
              <tr>
                 
                 <td bgcolor="#fcfcfc" class="content_row" align="left" valign="top" data-color-greybg="background-color" data-color-greyborder="border-color" style="width: 700px; border-color: #d1d9e0; border-style: solid; border-width: 0 1px 1px;">
                    <table class="mobile_centered_table" cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                       <tbody>
                         
                          <tr>
                             <td>
                                <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                   <tbody>
                                     
                                    <tr>
                                         <tr> <td height="10"></td></tr>
                                         <td width="10" class="nomobile" align="left"></td>
                                         <td data-editable="" width="200" align="left" data-color-greytext2="color" style="font-family: 'Lato', sans-serif; font-size: 12px; color: #303030; line-height: 16px;" class="">
                                            <span data-color-greytext2="color" class="dark_text"><span style="font-weight: bold; font-size: 14px;">Chicken Biriyani</span><br>
                                         </span></td>
                                         <td width="20" class="nomobile" align="left">
                                         </td>
                                         <td data-editable="" class="nomobile" width="70" align="left" style="font-family: 'Lato', sans-serif; font-size: 14px; color: #303030;">
                                            <span data-color-greytext2="color" class="dark_text"> Full</span>
                                         </td>
                                         <td width="30" class="nomobile" align="left">
                                         </td>
                                         <td data-editable="" class="nomobile" width="40" align="left" style="font-family: 'Lato', sans-serif; font-size: 14px; color: #303030;">
                                            <span data-color-greytext2="color" class="dark_text">2</span>
                                         </td>
                                         <td width="40" class="padding" align="left">
                                         </td>
                                         <td data-editable="" width="30" align="left" style="font-family: 'Lato', sans-serif; font-size: 14px; color: #303030;">
                                            <span data-color-greytext2="color" class="dark_text">140</span>
                                         </td>
                                         <td width="40" class="padding" align="left">
                                         </td>
                                         <td data-editable="" width="80" align="left" style="font-family: 'Lato', sans-serif; font-size: 14px; color: #303030;">
                                            <span data-color-greytext2="color" class="dark_text">280</span>
                                         </td>
                                             <tr><td height="10"></td></tr>
                                      </tr>


                                      <tr>
                                            
                                        <tr> <td height="10"></td></tr>
                                         <td width="10" class="nomobile" align="left"></td>
                                         <td data-editable="" width="200" align="left" data-color-greytext2="color" style="font-family: 'Lato', sans-serif; font-size: 12px; color: #303030; line-height: 16px;" class="">
                                            <span data-color-greytext2="color" class="dark_text"><span style="font-weight: bold; font-size: 14px;">Chicken 65</span><br>
                                         </span></td>
                                         <td width="20" class="nomobile" align="left">
                                         </td>
                                         <td data-editable="" class="nomobile" width="70" align="left" style="font-family: 'Lato', sans-serif; font-size: 14px; color: #303030;">
                                            <span data-color-greytext2="color" class="dark_text"> Full</span>
                                         </td>
                                         <td width="30" class="nomobile" align="left">
                                         </td>
                                         <td data-editable="" class="nomobile" width="40" align="left" style="font-family: 'Lato', sans-serif; font-size: 14px; color: #303030;">
                                            <span data-color-greytext2="color" class="dark_text">2</span>
                                         </td>
                                         <td width="40" class="padding" align="left">
                                         </td>
                                         <td data-editable="" width="30" align="left" style="font-family: 'Lato', sans-serif; font-size: 14px; color: #303030;">
                                            <span data-color-greytext2="color" class="dark_text">140</span>
                                         </td>
                                         <td width="40" class="padding" align="left">
                                         </td>
                                         <td data-editable="" width="80" align="left" style="font-family: 'Lato', sans-serif; font-size: 14px; color: #303030;">
                                            <span data-color-greytext2="color" class="dark_text">280</span>
                                         </td>
                                             <tr><td height="10"></td></tr>
                                      </tr>


                                      <tr> <td height="10"></td></tr>
                                         <td width="10" class="nomobile" align="left"></td>
                                         <td data-editable="" width="200" align="left" data-color-greytext2="color" style="font-family: 'Lato', sans-serif; font-size: 12px; color: #303030; line-height: 16px;" class="">
                                            <span data-color-greytext2="color" class="dark_text"><span style="font-weight: bold; font-size: 14px;">Chicken Biriyani</span><br>
                                         </span></td>
                                         <td width="20" class="nomobile" align="left">
                                         </td>
                                         <td data-editable="" class="nomobile" width="70" align="left" style="font-family: 'Lato', sans-serif; font-size: 14px; color: #303030;">
                                            <span data-color-greytext2="color" class="dark_text"> Full</span>
                                         </td>
                                         <td width="30" class="nomobile" align="left">
                                         </td>
                                         <td data-editable="" class="nomobile" width="40" align="left" style="font-family: 'Lato', sans-serif; font-size: 14px; color: #303030;">
                                            <span data-color-greytext2="color" class="dark_text">2</span>
                                         </td>
                                         <td width="40" class="padding" align="left">
                                         </td>
                                         <td data-editable="" width="30" align="left" style="font-family: 'Lato', sans-serif; font-size: 14px; color: #303030;">
                                            <span data-color-greytext2="color" class="dark_text">140</span>
                                         </td>
                                         <td width="40" class="padding" align="left">
                                         </td>
                                         <td data-editable="" width="80" align="left" style="font-family: 'Lato', sans-serif; font-size: 14px; color: #303030;">
                                            <span data-color-greytext2="color" class="dark_text">280</span>
                                         </td>
                                             <tr><td height="10"></td></tr>
                                      </tr>


                                   </tbody>
                                </table>
                             </td>
                          </tr>
                          
                       </tbody>
                    </table>
                 </td>
                 
              </tr>
           </tbody>
        </table>

        <table cellspacing="0" cellpadding="0" border="0" width="50%" style="float:right">
                <tbody>
                   <tr>
                      <td height="20">
                      </td>
                   </tr>
                   <tr>
                      <td width="100%">
                         <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                               <tr>
                                  <td width="10">
                                  </td>
                                  <td class="dark_text" data-editable="" width="190" align="right" data-color-greytext2="color" style="font-family: 'Lato', sans-serif; font-size: 15px; color: #303030; font-weight: bold; line-height: 26px;">
                                     SUBTOTAL :<br>
                                    
                                     TAX <span style="font-weight: normal; font-style: italic;">(19%)</span> :<br>
                                     SHIPPING :<br>
                                     DISCOUNT <span style="font-weight: normal; font-style: italic;">(25% OFF)</span> :<br>
                                     <br>
                                     <span style="font-size: 20px;">TOTAL </span>
                                  </td>
                                  <td width="35">
                                  </td>
                                  <td class="dark_text" data-editable="" align="right" data-color-greytext2="color" style="font-family: 'Lato', sans-serif; font-size: 15px; color: #303030; font-weight: bold; line-height: 26px;">
                                     477,50<br>
                                    
                                     80,75<br>
                                     15.70<br>
                                     85,90<br>
                                     <br>
                                     <span class="blue_text" data-color-bluetext="color" style="font-size: 20px; color: #42b1b2;">775,35</span>
                                  </td>
                                  
                               </tr>
                            </tbody>
                         </table>
                      </td>
                   </tr>
                   <tr>
                      <td height="25">
                      </td>
                   </tr>
                </tbody>
             </table>
        


          
        
        </div>

        
        </div>
        <div style="height: auto;margin-top: 10px;text-align: center;background-color: #f4f4f4;padding: 20px 0;font-family: sans-serif;color: #666;font-size: 14px;width: 650px;display: inline-block;">
                © Potafo.in All rights reserved.
        </div> 
        
        
        
        </body></html>